---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: '微光助行',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement" />
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      微 <span class="hidden xl:inline">光</span>
      <span class="text-accent dark:text-white highlight"> 助行
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">一个</span> 方便广大旧物循环的网站</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">本网站: 生产就绪。</span>
    </Fragment>
  </Hero>



  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="特性"
    title="我们 能为你带来什么"
    subtitle="专业，全面，系统性的服务"
    items={[
      {
        title: '快速响应',
        description:
          '地处长沙市岳麓区湖南师范大学，服务响应快',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: '广阔的服务范围',
        description:
          '覆盖多种资源的循环与回收利用',
        icon: 'tabler:components',
      },
      {
        title: '最佳实践',
        description:
          '创建安全、高效且用户友好的网站，提供卓越的体验和持久的价值。',
        icon: 'tabler:list-check',
      },
      {
        title: '出色的页面速度',
        description:
          '更方便用户使用',
        icon: 'tabler:rocket',
      },
      {
        title: '功能优化进行',
        description:
          "我们不断改进我们的网站，以提供更好的服务",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: '开放新想法和贡献',
        description:
          '拥抱开放的文化，接受新想法和贡献，促进创新、协作和用户体验。',
        icon: 'tabler:bulb',
      },
    ]}
  />



 

  <!-- Steps Widget ****************** -->

  <Steps
    title="快速开始服务或提供建议"
    items={[
      {
        title: '步骤 1: <span class="font-medium">访问</span>',
        description:
          "访问本网站，右上角点击“联系我们“ ",
        icon: 'tabler:package',
      },
      {
        title: '步骤 2: <span class="font-medium">描述内容</span>',
        description:
          "具体描述您的要求，并提交",
        icon: 'tabler:letter-case',
      },
      

      {
        title: '完成！',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="我们的团队"
    subtitle="通过以下信息，您将更了解我们团队"
    tagline="关于我们"
    items={[
      {
        title: '周智洋（组长）',
        description: "湖南师范大学物理与电子科学学院",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: '何娟（副组长）',
        description:
          "湖南师范大学物理与电子科学学院",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: '王亚金（副组长）',
        description:
          '湖南师范大学物理与电子科学学院',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: '邓晓萱',
        description:
          "湖南师范大学物理与电子科学学院",
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: '冯苑愉',
        description:
          '湖南师范大学物理与电子科学学院',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: '胡刘超',
        description: '湖南师范大学物理与电子科学学院',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: '胡迎奥',
        description: '湖南师范大学物理与电子科学学院',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: '钱志伟',
        description:
          '湖南师范大学物理与电子科学学院',
        icon: 'flat-color-icons:voice-presentation', //
      },
      {
        title: '杨昊宇',
        description: "湖南师范大学物理与电子科学学院",
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="在我们的博客中发现更多内容"
    information={`博客用于展示我们的活动。
                        每篇新文章都是一项我们所进行的活动。
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="常见问题"
    subtitle="深入了解以下问题，了解为什么建议您选择我们以及帮助您解决在过程中所遇到的问题。"
    tagline="常见问题"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '为什么选择我们？',
        description:
          "地理位置优越",
      },
      {
        title: '开始需要什么？',
        description:
          '首次0成本哦',
      },

      {
        title: '遇到了其他问题？',
        description:
          "您可以查看我们的文档、加入社区讨论，或在邮箱上提交问题。我们活跃的开发社区随时准备为您提供帮助。",
      },
    ]}
  />



  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: '联系我们',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      微光<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">助行</span>
    </Fragment>

    <Fragment slot="subtitle">
      还在等什么？ <br class="hidden md:inline" />别再浪费时间了！
    </Fragment>
  </CallToAction>
</Layout>
