---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '服务',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="服务"
    title="用我们精美的模板提升您的项目"
    subtitle="探索我们为各种行业和目的精心打造的模板。从引人入胜的演示到功能性网站设计，我们提供您成功所需的工具。"
    actions={[{ variant: 'primary', target: '_blank', text: '开始探索', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="探索我们多样化的模板"
    subtitle="发现下面我们的选择，以简化和提升您的项目。"
    columns={3}
    items={[
      {
        title: '教育',
        description:
          '通过协调教学设计和视觉吸引力，模板简化了各种材料的内容创建，加快了开发速度并培养了引人入胜的教育空间。',
        icon: 'tabler:school',
      },
      {
        title: '室内设计',
        description:
          '为住宅和商业用途打造功能齐全、视觉吸引力强的空间。模板强调布局、色彩和家具设置，为您的设计愿景提供多功能工具包。',
        icon: 'tabler:home-star',
      },
      {
        title: '摄影',
        description: `我们的模板为摄影师赋能，促进引人入胜的讲故事。通过对布局、画廊和排版的敏锐关注，它们同时满足专业人士和爱好者的需求。`,
        icon: 'tabler:photo',
      },
      {
        title: '电子商务',
        description:
          '开发引人入胜的在线商店，我们的电子商务模板确保动态存在，有效展示产品。非常适合初创企业或改版。',
        icon: 'tabler:shopping-cart',
      },
      {
        title: '博客',
        description:
          '通过对排版的关注，这些模板为处于任何阶段的作家提供有效的内容展示，确保视觉上引人入胜且用户友好的博客。',
        icon: 'tabler:article',
      },
      {
        title: '商业',
        description:
          '为有效的视觉沟通提供精致的选择，这些模板使初创企业和成熟公司都能建立专业的品牌形象。',
        icon: 'tabler:building-store',
      },
      {
        title: '品牌',
        description:
          '提供用于一致品牌标识的预设计元素，包括标志和营销材料。非常适合新企业或改版。',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: '医疗',
        description: `从演示到患者表格，这些工具增强了医疗专业人员的沟通效果。非常适合医疗实践和研究追求。`,
        icon: 'tabler:vaccine',
      },
      {
        title: '时尚设计',
        description:
          '通过对细节、定制和当代设计的关注，它们使设计师能够连贯地展示想法。适合所有级别的设计师。',
        icon: 'tabler:tie',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: '高质量设计',
        description:
          '我们的模板采用顶级设计，确保您的项目具有专业和精致的外观。',
        icon: 'tabler:wand',
      },
      {
        title: '定制工具',
        description:
          '通过用户友好的定制工具，根据您的独特需求调整每个模板，让您个性化颜色、字体和内容。',
        icon: 'tabler:settings',
      },
      {
        title: '预设计元素',
        description:
          '使用我们的即用型元素节省时间和精力，包括增强您创作视觉吸引力的图形、图标和布局。',
        icon: 'tabler:presentation',
      },
      {
        title: '预览和模型视图',
        description:
          '使用我们的预览和模型视图在进行任何更改之前可视化最终结果，确保您的项目符合您的期望。',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">主要特性</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: '节省时间',
        description:
          '简化您的工作流程，使您能够高效创建令人惊叹的材料，并为核心任务分配更多时间。',
        icon: 'tabler:clock',
      },
      {
        title: '专业外观',
        description:
          '通过我们模板提供的精致和复杂的外观提升您的项目，给您的受众留下持久的印象。',
        icon: 'tabler:school',
      },
      {
        title: '成本效益',
        description:
          '通过避免定制设计工作的需要来节省成本，因为我们的模板以一小部分成本提供专业级设计。',
        icon: 'tabler:coin',
      },
      {
        title: '即时下载',
        description:
          '购买后立即访问您选择的模板，使您能够立即开始处理您的项目，无需延迟。',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">优势</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="真实客户的评价"
    testimonials={[
      {
        testimonial: `这些设计不仅视觉吸引力强，而且非常专业。这些模板为我节省了大量时间，同时帮助我给客户留下了持久的印象。`,
        name: 'Emily Kennedy',
        job: '前端开发人员',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `它精美地展示了我的作品，其简洁优雅的设计让我的照片脱颖而出。即使对我这样的非技术人员来说，定制也非常简单。结果是一个专业且沉浸式的作品集，获得了无数好评。`,
        name: 'Sarah Hansen',
        job: '摄影师',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `我发现了这些模板，对它们的多样性和质量印象深刻。它们帮助我在营销和社交平台上建立了一致的品牌形象，提升了我业务的整体外观。`,
        name: 'Mark Wilkinson',
        job: '小型企业主',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: '更多评价...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: '开始探索',
        href: '/',
      },
    ]}
    title="深入我们的模板集合"
    subtitle="无论您是在商业、设计还是教育领域，我们的模板都在这里提升您的项目。"
  />
</Layout>
