---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: '个人主页演示',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: '首页', href: '#' },
        { text: '关于', href: '#about' },
        { text: '简历', href: '#resume' },
        { text: '作品集', href: '#porfolio' },
        { text: '博客', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: '雇佣我',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Sarah Johnson"
    tagline="个人网站演示"
    actions={[{ variant: 'primary', text: '雇佣我', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      我是一名热衷于创作视觉故事的平面设计师。<br /> 拥有5年经验，毕业于纽约大学设计学院。我为品牌和设计注入活力，将概念转化为引人入胜的现实。
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-dribbble',
        callToAction: {
          target: '_blank',
          text: 'Dribbble',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-behance',
        callToAction: {
          target: '_blank',
          text: 'Behance',
          href: '#',
        },
      },
      {
        icon: 'tabler:brand-pinterest',
        callToAction: {
          target: '_blank',
          text: 'Pinterest',
          href: '#',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">关于我</h2>
      <p>
        欢迎来到我的创作之旅。我的作品证明了我致力于将想法变为现实，每个像素都成为想象画布上的笔触。
      </p>
      <br />
      <p>
        我从周围的世界中寻找灵感，无论是通过引人入胜的小说页面、排版的复杂细节，还是户外探险时大自然的鲜艳色彩。
      </p>
      <br />
      <p>如果您想更深入地了解我的作品，您可以关注我：</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="工作经验"
    items={[
      {
        title:
          '平面设计师 <br /> <span class="font-normal">ABC设计工作室，纽约，纽约</span> <br /> <span class="text-sm font-normal">2021年 - 至今</span>',
        description: `与客户合作，了解设计需求和目标。<br /> 开发品牌解决方案，包括标志、调色板和品牌指南。<br /> 设计营销材料，如手册、海报和数字资产。<br /> 为网站和应用程序创建视觉吸引力的用户界面。`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          '初级平面设计师 <br /> <span class="font-normal">XYZ创意机构，洛杉矶，加利福尼亚</span> <br /> <span class="text-sm font-normal">2018年 - 2021年</span>',
        description: `协助高级设计师创建设计概念和视觉资产。<br /> 参与品牌标识和营销材料的开发。<br /> 与营销团队合作，确保活动设计的一致性。<br /> 获得各种设计软件和工具的实践经验。`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="教育经历"
    items={[
      {
        title: `平面设计艺术硕士 <br /> <span class="font-normal">纽约大学设计学院</span> <br /> <span class="text-sm font-normal">2018年 - 2020年</span>`,
        icon: 'tabler:school',
      },
      {
        title: `平面设计艺术学士 <br /> <span class="font-normal">纽约大学设计学院</span> <br /> <span class="text-sm font-normal">2014年 - 2018年</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="技能"
    subtitle="发现让我通过设计将想象变为现实的专业能力。"
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: '平面设计',
        description: '精通创作视觉吸引力强、能有效传达信息的设计。',
      },
      {
        title: '品牌和标识',
        description: '擅长开发连贯的品牌标识，包括标志和品牌指南。',
      },
      {
        title: '用户中心设计',
        description: '有创建用户友好界面和优化用户体验的经验。',
      },
      {
        title: 'Adobe创意套件',
        description: '熟练使用Photoshop、Illustrator和InDesign创建和编辑视觉元素。',
      },
      {
        title: '排版',
        description: '擅长选择和操作字体以增强设计美感。',
      },
      {
        title: '色彩理论',
        description: '精通使用色彩唤起情感并增强视觉和谐。',
      },
      {
        title: '印刷和数字设计',
        description: '了解为印刷材料和数字平台设计。',
      },
      {
        title: '注重细节',
        description: '在所有设计工作中保持精确和质量。',
      },
      {
        title: '适应性',
        description: '快速适应新的设计趋势、技术和客户偏好。',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="提升视觉叙事"
    subtitle="踏上超越像素的设计之旅，进入想象的领域。探索我的作品集，在这里激情和创造力汇聚，塑造引人入胜的视觉叙事。"
    isReversed
    items={[
      {
        title: '描述：',
        description:
          '为专注于颠覆性创新的科技初创公司Tech Innovators开发了全面的品牌标识。目标是传达现代而平易近人的形象，同时吸引企业客户和科技爱好者。',
      },
      {
        title: '角色：',
        description:
          '领导从概念到执行的整个品牌塑造过程。创建了象征创新的动态标志，选择了充满活力的调色板，并设计了企业文具、网站图形和社交媒体资产。',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: '前往项目',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        项目1：<br /><span class="text-2xl">科技创新者的品牌标识</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '描述：',
        description:
          '为艺术和音乐节"ArtWave Fusion"设计了一张引人入胜的活动海报，旨在展示视觉艺术和音乐流派之间的协同作用。',
      },
      {
        title: '角色：',
        description: `将音乐节的创意主题转化为视觉冲击力强的海报。使用大胆的排版、鲜艳的色彩和抽象元素来描绘艺术与音乐的融合。确保设计捕捉到音乐节的活力氛围。`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: '前往项目',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        项目2：<br /><span class="text-2xl">艺术与音乐节活动海报</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '描述：',
        description: `为环保时尚品牌GreenVogue重新设计了电子商务网站。目标是使品牌的在线形象与其可持续发展理念保持一致，并改善用户体验。`,
      },
      {
        title: '角色：',
        description: `对品牌价值和客户群进行了全面分析，为设计方向提供信息。创建了视觉吸引力强的界面，具有直观的导航，突出可持续材料，并整合了用户友好的购物体验。`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: '前往项目',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        项目3：<br /><span class="text-2xl">时尚品牌电子商务网站重新设计</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="客户评价"
    subtitle="了解客户对与我合作的体验有什么评价。"
    testimonials={[
      {
        testimonial: `她将我们模糊的概念转化为视觉杰作，完美符合我们的目标。她对细节的关注和将想法转化为引人注目的视觉效果的能力超出了我们的期望。`,
        name: 'Mark Thompson',
        job: '创意总监',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `她以创意技巧转变了我们的品牌标识，在每个元素中捕捉我们的本质。她的奉献精神和才华在她的作品中真正闪耀。`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `她有一种不可思议的能力，可以传达情感和故事。她为我们的非政府组织设计了一个标志，不仅代表我们的事业，还唤起了共鸣。她的专业精神和承诺使她成为一位卓越的设计师。`,
        name: 'Laura Simmons',
        job: '非政府组织创始人',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `我们委托Sarah重新设计我们网站的用户界面，结果令人震惊。她直观的设计感增强了用户体验，导致参与度显著增加。她是一位真正理解美学和功能协同作用的设计师。`,
        name: 'Alex Foster',
        job: '网络服务总监',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `她接受了我们的愿景，并将其提升到想象之外。她捕捉品牌本质并将其转化为设计的能力令人惊叹。与她合作是一段鼓舞人心的旅程。`,
        name: 'Jessica Collins',
        job: '产品经理',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `她将概念转化为引人入胜的视觉效果的能力非常出色。她将我们的活动海报想法转化为视觉杰作，完美捕捉了我们节日的精髓。Sarah的奉献精神、创造力和超越期望的能力使她成为任何项目的宝贵资产。`,
        name: 'Michael Carter',
        job: '活动协调员',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="让我们一起创造"
    subtitle="准备好将您的愿景转化为引人入胜的设计了吗？"
    actions={[
      {
        variant: 'primary',
        text: '雇佣我',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="探索我博客上的有见地文章"
    information={`深入设计智慧和创意灵感的领域，在那里您会发现宝贵的见解、实用技巧和引人入胜的叙述，提升和丰富您的创意之旅。`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
