---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: '初创企业登录页面',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="初创企业网站演示"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: '获取模板',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
      { text: '了解更多', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      提升 <span class="hidden sm:inline">您的</span> 初创企业的 <span
        class="text-accent dark:text-white highlight">在线存在</span> 使用Astrowind模板
    </Fragment>

    <Fragment slot="subtitle">
      使用 <span class="font-semibold">Astrowind</span> 模板踏入聚光灯下，这是您加强初创企业数字足迹、培养信誉和扩大影响力的途径。
    </Fragment>

    <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="关于我们"
    subtitle="我们相信将梦想转化为令人惊叹的现实的魔力。由具有共同愿景的热情开发者创立，我们着手简化网站创建过程。我们的模板将Astro 4.0的创新与Tailwind CSS的多功能性结合在一起，让您以前所未有的方式表达您独特的品牌身份。"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    title="发现Astrowind的令人印象深刻的影响"
    subtitle="下面的数字反映了我们的用户对我们的信任以及我们帮助他们实现的显著成果。"
    stats={[
      { title: '下载量', amount: '182K' },
      { title: '已启动网站', amount: '87' },
      { title: '用户评分', amount: '4.8' },
      { title: '满意客户', amount: '116K' },
    ]}
  />

  <!-- Brands Widget ****************** -->

  <Brands
    title="合作伙伴关系与协作"
    subtitle="在Astrowind，我们相信协作的力量可以推动创新并创造卓越的体验。"
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="我们提供什么服务？"
    subtitle="我们提供广泛的网站模板，适合各种行业和用途，如商业、作品集、电子商务、博客等。"
    items={[
      {
        title: '安装说明',
        description:
          '提供清晰的说明，说明如何下载购买的模板并在各种网站平台或内容管理系统上安装它们。',
        icon: 'flat-color-icons:document',
      },
      {
        title: '演示和预览',
        description:
          '提供交互式演示和预览，让客户在购买前查看他们选择的模板的外观和功能。',
        icon: 'flat-color-icons:template',
      },
      {
        title: '技术支持',
        description:
          '为与模板或其实施相关的任何技术问题提供客户支持。',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="我们模板的主要特点"
    subtitle="具有几个关键特性，可有效满足初创企业和企业家的需求。"
    columns={3}
    items={[
      {
        title: '现代专业设计',
        description:
          '具有反映当前设计趋势的现代设计，给人专业的印象。',
        icon: 'tabler:artboard',
      },
      {
        title: '响应式和移动友好',
        description: '无缝适应不同屏幕尺寸和设备，确保一致的体验。',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: '可定制性',
        description:
          '易于定制，允许用户调整设计、颜色、排版和内容以匹配其品牌身份。',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: '快速加载时间',
        description: '针对速度进行优化，确保流畅的用户体验和良好的搜索引擎排名。',
        icon: 'tabler:rocket',
      },
      {
        title: '搜索引擎优化（SEO）',
        description:
          '在模板结构和代码中融入SEO最佳实践，以提高在搜索引擎结果中的可见性。',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: '兼容性',
        description: '模板可在各种内容管理系统和网站构建器上无缝工作。',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="常见问题"
    items={[
      {
        title: '什么是登录页面模板？',
        description:
          '登录页面模板是预先设计的网页布局，专门创建为构建有效登录页面的基础。这些模板旨在吸引访问者的注意力并引导他们朝着特定的行动或目标前进，例如注册通讯、购买或下载资源。',
      },
      {
        title: '为什么我应该使用模板？',
        description:
          '一些优势包括它们提供即用型结构，节省您大量时间。设计时考虑了用户友好性，并提供了具有成本效益的替代方案，在节省资金的同时仍能提供高质量的结果。',
      },
      {
        title: '我可以在购买前预览模板吗？',
        description:
          '是的，模板允许您在购买前预览它们。每个模板都有一个"演示"按钮。',
      },
      {
        title: '使用模板需要技术技能吗？',
        description:
          '使用模板不需要高级技术技能，但对Web导航有基本了解并熟悉使用在线工具仍然会有所帮助。如果您有更具体的定制需求，可能需要查阅指南或联系客户支持寻求帮助。',
      },
      {
        title: '我可以在多个网站上使用模板吗？',
        description:
          '不，模板附带单一使用许可证，意味着您只能在一个网站或项目上使用模板。在其他网站上使用模板需要购买额外的许可证。',
      },
      {
        title: '如果我需要定制帮助怎么办？',
        description:
          "模板提供了全面的分步指南，引导您完成定制过程。如果您仍然有疑问，可以联系我们的客户支持团队。他们可以回答您的问题，提供定制指导，并解决您面临的任何问题。",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="让我们知道我们如何帮助您"
    subtitle="我们在这里帮助您并回答您可能有的任何问题。"
    columns={4}
    items={[
      {
        title: '电话',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: '给我们打电话',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: '电子邮件',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: '给我们写信',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: '与销售聊天',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '开始聊天',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: '与支持聊天',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '开始聊天',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: '获取模板',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">成为我们愿景的一部分</Fragment>

    <Fragment slot="subtitle">
      发现充满活力的工作环境、无与伦比的成长机会，以及产生有意义影响的机会。
    </Fragment>
  </CallToAction>
</Layout>
